<!-- TABLE VIEW: Shown when the form is not active -->
<ng-container *ngIf="!showForm">
  <mat-card class="cardWithShadow">
    <mat-card-content>
      <mat-card-title>Users</mat-card-title>

      <!-- Error Message -->
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="openAddUserForm()">
          Add User
        </button>
      </mat-card-actions>

      <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" class="w-100" matSort>
          <!-- Photo Column -->
          <ng-container matColumnDef="photo">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let user">
              <img [src]="user.photo" alt="User Photo" class="rounded-circle object-cover icon-40 profile-dd" width="35" >
            </td>
          </ng-container>

          <!-- Username Column -->
          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef>Username</th>
            <td mat-cell *matCellDef="let user">{{ user.username }}</td>
          </ng-container>

          <!-- Email Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let user">{{ user.email }}</td>
          </ng-container>

          <!-- Role Column -->
          <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef>Role</th>
            <td mat-cell *matCellDef="let user">
              <span class="role-badge">{{ user.role }}</span>
            </td>
          </ng-container>

          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let user">
              <button mat-icon-button color="primary" (click)="openEditUserForm(user)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="deleteUser(user.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
</ng-container>

<!-- FORM VIEW: Shown when adding or editing a user -->
<ng-container *ngIf="showForm">
  <mat-card class="cardWithShadow theme-card">
    <mat-card-header>
      <mat-card-title class="m-b-0">
        {{ isEditMode ? 'Edit User' : 'Add User' }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="b-t-1">
      <form>
        <div class="row">
          <!-- Username Field -->
          <div class="col-lg-6">
            <mat-label class="f-w-600 m-b-8 d-block">Your Name</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input
                matInput
                placeholder="Your name"
                [(ngModel)]="userForm.username"
                name="username"
                required
              />
            </mat-form-field>
          </div>

          <!-- Email Field -->
          <div class="col-lg-6">
            <mat-label class="f-w-600 m-b-8 d-block">Email</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input
                matInput
                type="email"
                placeholder="Your email"
                [(ngModel)]="userForm.email"
                name="email"
                required
              />
            </mat-form-field>
          </div>

          <!-- Password Field (only for Add mode) -->
          <div class="col-lg-6" *ngIf="!isEditMode">
            <mat-label class="f-w-600 m-b-8 d-block">Password</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input
                matInput
                type="password"
                placeholder="Your password"
                [(ngModel)]="userForm.password"
                name="password"
                required
              />
            </mat-form-field>
          </div>

          <!-- Role Selection Field -->
          <div class="col-lg-6">
            <mat-label class="f-w-600 m-b-8 d-block">Role</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select
                [(ngModel)]="userForm.roleId"
                name="roleId"
                required
                (selectionChange)="changing($event)"
              >
                <mat-option *ngFor="let role of roles" [value]="role.id">
                  {{ role.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="m-t-12">
          <button mat-flat-button color="primary" (click)="saveUser()">
            {{ isEditMode ? 'Update' : 'Save' }}
          </button>
          <button mat-stroked-button color="warn" (click)="closeUserForm()">
            Cancel
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</ng-container>