<div class="sidebar">
  <div class="branding">
    <app-branding></app-branding>
  </div>

  <ul class="nav-list">
    <li *ngFor="let item of navItems">
      <ng-container *ngIf="item.navCap">
        <h6 class="nav-cap">{{ item.navCap }}</h6>
      </ng-container>

      <a *ngIf="item.displayName"  class="nav-link">
        <!-- Material Icon -->
        <mat-icon *ngIf="isMaterialIcon(item.iconName)">{{ item.iconName }}</mat-icon>

        <!-- Tabler Icon -->
        <i-tabler *ngIf="isTablerIcon(item.iconName)" [name]="item.iconName.replace('tabler-', '')" class="icon-20"></i-tabler>

        <!-- Solar Icon -->
        <i class="solar-icon" *ngIf="isSolarIcon(item.iconName)">{{ item.iconName.replace('solar:', '') }}</i>

        <span>{{ item.displayName }}</span>
      </a>
    </li>
  </ul>

  <button *ngIf="showToggle" (click)="toggleMobileNav.emit()" class="toggle-btn">
    <i-tabler name="x" class="icon-20"></i-tabler>
  </button>
</div>
