<!-- Notification bell button that triggers a dropdown menu -->
<button mat-icon-button aria-label="Notifications" [matMenuTriggerFor]="menu" class="notification-button">
  <mat-icon [matBadge]="unreadCount"
           [matBadgeHidden]="unreadCount === 0"
           matBadgeColor="warn"
           matBadgeSize="small"
           matBadgeOverlap="false"
           [@fadeInOut]="'in'">
    notifications_none
  </mat-icon>
</button>

<mat-menu #menu="matMenu" class="notification-menu">
  <div class="notification-header">
    <h4 class="menu-title">Notifications</h4>
    <button mat-stroked-button
            color="primary"
            *ngIf="unreadCount > 0"
            (click)="markAllAsRead(); $event.stopPropagation()"
            class="mark-read-btn">
      <mat-icon class="small-icon">done_all</mat-icon>
      <span>Clear all</span>
    </button>
  </div>

  <mat-divider></mat-divider>

  <ng-container *ngIf="notifications.length > 0; else noNotifications">
    <div class="notification-list">
      <button mat-menu-item *ngFor="let notification of notifications.slice(0, 5)" class="notification-item"
              [ngClass]="{'unread': !notification.isRead}" (click)="markAsRead(notification)">
        <div class="notification-content">
          <div class="notification-header-item">
            <div class="notification-title">{{ notification.title }}</div>
            <div class="notification-time">{{ formatTimeAgo(notification.createdAt) }}</div>
          </div>
          <div class="notification-message">{{ notification.message }}</div>
        </div>
        <mat-icon *ngIf="!notification.isRead" class="unread-indicator">fiber_manual_record</mat-icon>
      </button>
    </div>
     <mat-divider></mat-divider>
  </ng-container>


  <ng-template #noNotifications>
    <div class="no-notifications p-3 text-center">
      <mat-icon class="icon-48">notifications_none</mat-icon>
      <p class="mt-2">No new notifications.</p>
    </div>
     <mat-divider></mat-divider>
  </ng-template>


  <button mat-menu-item class="view-all" (click)="navigateToNotificationList()">
    <span>View all</span>
    <mat-icon class="small-icon">chevron_right</mat-icon>
  </button>
</mat-menu>