<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>MY Profile</mat-card-title>
    <mat-card-subtitle>{{ user?.role }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="photoUrl" alt="User Photo" >
  <mat-card-content>
    <p>
      Welcome to your profile
    </p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>Email:</strong> {{ user?.email }}</li>
      <li class="list-group-item"><strong>User name:</strong> {{ user?.username }}</li>
      <li class="list-group-item"><strong>Role:</strong> {{ user?.role }}</li>
    </ul>
  </mat-card-content>
</mat-card>