.example-card {
    max-width: 300px; /* Increased the max-width to make the card larger */
    margin:  auto; /* Center the card horizontally */
  }
  
  .example-header-image {
    background-image: url('src/assets/images/blog/blog-img2.jpg');
    background-size: cover;
    border-radius: 50%; /* Make the avatar image circular */
  }