/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Success Snackbar */
.success-snackbar {
    background-color: #28a745 !important; /* Green background */
    color: white !important; /* White text */
  }
  
  /* Error Snackbar */
  .error-snackbar {
    background-color: #dc3545 !important; /* Red background */
    color: white !important; /* White text */
  }
